<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="NConsole" version="3.3.6170.27019" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NJsonSchema" version="6.6.6192.39835" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="6.6.6192.39836" targetFramework="net461" />
  <package id="NSwag.Annotations" version="8.1.6192.40778" targetFramework="net461" />
  <package id="NSwag.AspNet.WebApi" version="8.1.6192.40787" targetFramework="net461" />
  <package id="NSwag.CodeGeneration" version="8.1.6192.40777" targetFramework="net461" />
  <package id="NSwag.Core" version="8.1.6192.40777" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>